h1,
h2 {
  color: whitesmoke;
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

div {
  width: 100%;
}

section {
  height: 100vh;
  background-image: url("./../../../assets/img/1_hero/JPG/hero_bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  div {
    width: auto;
  }
}
