<section class="fontRaleway">
    <h1>OUR MENU</h1>
    <div>
        <img src="./assets/img/3_section_our_menu/Png/R1.png" alt="">
        <div>
            <table>
                <thead>Tonkotsu Ramen</thead>
                <tr>
                    <td>Chicken</td>
                    <td>11,95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13,95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row-reverse">
        <img src="./assets/img/3_section_our_menu/Png/R2.png" alt="">
        <div>
            <table>
                <thead>Spicy Miso Ramen</thead>
                <tr>
                    <td>Chicken</td>
                    <td>11,95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13,95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <img src="./assets/img/3_section_our_menu/Png/R3.png" alt="">
        <div>
            <table>
                <thead>Shio Ramen</thead>
                <tr>
                    <td>Chicken</td>
                    <td>11,95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13,95€</td>
                </tr>
            </table>
        </div>
    </div>
</section>
