<section class="fontRaleway">
    <h1>HOW TO ORDER</h1>
    <div>
        <div>
            <img src="./assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <h2>Pick your <br>noodle</h2>
        </div>
        <div>
            <img src="./assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <h2>Pick your <br>broth</h2>
        </div>
        <div>
            <img src="./assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <h2>Pick your <br>toppings</h2>
        </div>
    </div>
</section>
